// i inline the css via the includes, front-matter would break this
// ---
// # Only the main Sass file needs front matter (the dashes are enough)
// ---
@charset "utf-8";

// Our variables
$base-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$font-size-h1:     36px;
$base-line-height: 1.75;

$color-frame-border: 8px;

$spacing-unit:     30px;
$background-color: #f5f5f5;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// colors taken from https://yeun.github.io/open-color/swatches.html and
// https://material.io/guidelines/style/color.html#color-color-palette
$color-cyan8:      #0c8599;
$color-teal5:      #20c997;
$color-teal7:      #0ca678;
$color-teal8:      #099268;
$color-green6:     #40c057;
$color-base:       #111111;
$color-yellow: #ffdd59;
$color-yellow-dark: #ffd32a;
$color-yellow-very-dark: #ccae62;

$color-brand-light: $color-yellow;
$color-brand:      $color-yellow;
$color-brand-dark: $color-yellow-very-dark;
$text-color:       $color-base;

$screen-xs: 480px;
$screen-sm-min: 481px;

$max-content-width: 630px;
$min-content-width: 500px;


// box-sizing for every element
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

// the super basics
body {
    position: relative;
    background-color: $background-color;
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    padding: 0;
    margin: 0;
    padding-top: $color-frame-border;

    // for the footer
    min-height: 100%;
    padding-bottom: 160px + $spacing-unit * 2;
}

main {
    display: block; // IE-11
    max-width: $max-content-width;
    margin-top: $spacing-unit;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: block;
    color: white;
    background-color: $grey-color-dark;
    padding: $spacing-unit $spacing-unit;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    a {
        color: white;
    }
}

nav {
  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-right: $spacing-unit;
    position: relative;
    display: inline-block;

    &:before {
      z-index: -1;
      transition: all 0.1s ease-in-out;
      position: absolute;
      display: block;
      content: '';
      opacity: 0;
      height: 4px;
      top: 1.6em;
      background: black;
      width: 100%;
    }

    &:hover, &.active {
      &:before {
        opacity: 1;
      }
    }
  }
}

//
// UTILITY CLASSES
//

.hidden {
    display: none;
}

.clearfix {
    content: "";
    clear: both;
    display: block;
    height: 0px;
}

.brand-color-block {
    color: white;
    background-color: $color-brand;
    padding: 5px 15px;
    display: inline-block;
}

$shadow-padding-horizontal: 7px;
$shadow-padding-vertical: 3px;
.brand-color-shadow {
    color: black;
    background-color: $grey-color-light;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow:  $shadow-padding-horizontal  0   0 $grey-color-light,
                -$shadow-padding-horizontal  0   0 $grey-color-light,
                -$shadow-padding-horizontal  $shadow-padding-vertical 0 $grey-color-light,
                 $shadow-padding-horizontal  $shadow-padding-vertical 0 $grey-color-light,
                 // stop scss to evaluate this
                -$shadow-padding-horizontal -#{$shadow-padding-vertical} 0 $grey-color-light,
                 $shadow-padding-horizontal -#{$shadow-padding-vertical} 0 $grey-color-light;
}

//
// PAGE HEADER
//

.page-header-container {
    margin-top: $spacing-unit;
    text-align: center;
    .page-header {

        color: $color-base;
        padding: 20px;

        display: inline-block;
        font-size: 24px;
        a {
            color: $color-base;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//
// NAV
//

.nav {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    &-url {
        margin-left: $spacing-unit / 1.5;
        color: $grey-color-dark;
        text-decoration: none;
    }
}

//
// POST LIST
//

.other-posts {
    margin-top: $spacing-unit * 2;
}

.post-list {
    margin: 0;
    padding: 0;
    > li {
        list-style-type: none;
        margin: $spacing-unit / 4 0;
        a {
            color: black;
            text-decoration: none;
            position: relative;
            display: inline-block;
            z-index: 3;

            &:visited {
                color: black;
            }

            &:hover {
                &:before {
                    height: 30px;
                    top: 0px;
                }
            }

            &:before {
                z-index: -1;
                transition: all 0.1s ease-in-out;
                position: absolute;
                display: block;
                content: '';
                height: 4px;
                top: 1.6em;
                background: $grey-color-light;
                width: 100%;
            }
        }
    }
}

.link {
  // background: $color-brand-light;
  // padding: 3px 5px;
  color: black;
  text-decoration: none;
  position: relative;
  display: inline-block;
  z-index: 3;

  &:visited {
      color: black;
  }

  &:hover {
      &:before {
          height: 30px;
          top: 0px;
      }
  }

  &:before {
      z-index: -1;
      transition: all 0.1s ease-in-out;
      position: absolute;
      display: block;
      content: '';
      height: 4px;
      top: 1.6em;
      background: $color-brand;
      width: 100%;
  }
}

//
// POST
//

.post {

    margin-top: $spacing-unit;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(25, 17, 34, 0.1);

    &:after {
        @extend .clearfix;
    }

    //
    // Tag styles
    //

    h1 {
        margin: 0;
    }
    h2 {
        margin: 0;
    }

    ul {
        > li {

        }
    }

    img {
        max-width: 100%;
    }

    p a {
      @extend .link;
    }

    video {
      width: 100%
    }

    blockquote {
        margin: 0;
        padding-left: 20px;
        border-left: 0.25em solid $color-brand;
    }

    &-title {
        font-size: $font-size-h1;
        font-weight: bold;
    }

    &-date {
        display: block;
        margin-bottom: $spacing-unit / 2;
    }

    &-url.post-url {
        color: $text-color;
        text-decoration: none;
        &:visited {
            color: $text-color;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    &-separator {
        margin-top: $spacing-unit * 2;
        margin-bottom: $spacing-unit * 2;

        &:last-of-type {
            border-color: transparent;
        }
    }

    &-author-container {
        padding-left: $shadow-padding-horizontal;
        float: none;
        clear: both;
        margin-top: $spacing-unit;
    }

    &-author {
        @extend .brand-color-shadow;
        &:before {
            content: "---";
            letter-spacing: -2px;
        }
    }

    &-content {
        // figure {
        //     overflow-x: scroll;
        // }
    }

    &-excerpt {
        font-size: 18px;
        line-height: 35px;
        padding-left: $shadow-padding-horizontal;
        &-inner {
            @extend .brand-color-shadow;
        }
    }

    &-image-container {
        width: 100%;
        display: inline-block;
        &--zoomed {
            .post-image-text {
                width: 100%;
            }
            .post-image-image {
                width: 100%;
                &:hover {
                    cursor: zoom-out;
                }
            }
        }
    }

    &-image-image {
        float: left;
        width: 50%;
        &:hover {
            cursor: zoom-in;
        }
        img {
            width: 100%;
        }
    }

    &-image-text {
        font-size: $small-font-size;
        float: left;
        width: 50%;
        padding-left: 20px;
    }
}

//
// HOME / INDEX
//

.home {
    > ul {
        margin: 0;
        padding: 0;
        > li {
            list-style-type: none;
        }
    }

}


//
// Responsive styles
//

@media (max-width: $screen-xs) {
    .page-header-container {
        margin-top: 0;
    }
    .post {

        box-shadow: none;

        &-image-image {
            width: 100%;
        }

        &-image-text {
            width: 100%;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .post {
        background: white;
        padding: 20px;
    }
}

// if the content is smaller than min-content-width, put the sidebar to the top
@media (max-width: ($min-content-width + $spacing-unit * 6)) {
    main {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }
}

// .color-frame {
//     position: fixed;
//     width: 100%;
//     height: 100vh;
//     pointer-events: none;
//     z-index: 99;
//     border: $color-frame-border solid $grey-color;
//     border-image: linear-gradient(135deg, #{$grey-color}, #{$grey-color}) 1;
//     top: 0;
// }

/* css highlight */
.highlighter-rouge {
    background: lighten($grey-color, 45%);
    padding: 2px 5px;
    color: black;
}

.highlight  {

    overflow-x: auto;
    background: #272822;
}

// TODO: move

.fade-enter {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.fade-exit.fade-exit-active {
  opacity: 0;
}


/* Base color: saturation 0; */

.hljs {
  font-size: 13px;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background: #222222;
  overflow-x: scroll;
  max-height: 100vh;
}

/**
 * prism.js Monokai theme
 * @author Sam Clarke
 */
 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.4;

   -moz-tab-size: 8;
   -o-tab-size: 8;
   tab-size: 8;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 /* Code blocks */
 pre[class*="language-"] {
   padding: .8em;
   overflow: auto;
   background: #272822;
 }

 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
   background: #272822;
 }

 .token.comment,
 .token.blockquote,
 .token.shebang.important,
 .token.shebang {
   color: #75715e;
 }

 .token.operator,
 .token.important,
 .token.keyword,
 .token.rule,
 .token.tag,
 .token.deleted,
 .token.selector,
 .token.prolog,
 .token.title .token.punctuation {
   color: #f92672;
 }

 .token.property,
 .token.entity,
 .token.atrule,
 .token.command,
 .token.code {
   color: #66d9ef;
 }

 .token.regex,
 .token.atrule .token.property {
   color: #fd971f;
 }

 .token.pseudo-element,
 .token.id,
 .token.class,
 .token.class-name,
 .token.pseudo-class,
 .token.function,
 .token.namespace,
 .token.inserted,
 .token.symbol,
 .token.url-reference .token.variable,
 .token.attr-name {
   color: #a6e22e;
 }

 .token.string,
 .token.url,
 .token.list,
 .token.cdata,
 .token.attr-value,
 .token.attr-value a.token.url-link {
   color: #e6db74;
 }

 .token.constant,
 .token.hexcode,
 .token.builtin,
 .token.number,
 .token.boolean {
   color: #ae81ff;
 }

 .token.doctype,
 .token.punctuation,
 .token.variable,
 .token.macro.property {
   color: #f8f8f2;
 }

 .token.entity {
   cursor: help;
 }

 .token.title,
 .token.title .token.punctuation {
   font-weight: bold;
 }

 .token.bold {
   font-weight: bold;
 }

 .token.italic {
   font-style: italic;
 }

 /* YAML */
 .language-yaml .token.atrule {
   color: #f92672;
 }

 /* Bash */
 .language-bash .token.function {
   color: #f92672;
 }
